.app-logo-inverse {
    height: 45px !important;
    width: 158px !important;
    background: url(../assets/images/logo.png)no-repeat !important;
}

.logo-src {
    height: 45px !important;
    width: 158px !important;
    background: url(../assets/images/logo-inverse.png)no-repeat !important;
}


.validation-message {
    color: red;
    padding-top: 3px;
}
.blazored-modal {
    width: 50% !important;
}

.widget-content .widget-content-left .widget-subheading {
    opacity: .7 !important;
}
.widget-content .widget-content-left .widget-heading {
    opacity: 1 !important;
    font-weight: bold;
}

.cargar {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 40%;
    left: 42%;
}