@inject AuthenticationStateProvider stateProvider
@inject NavigationManager navigateManage

<AuthorizeView>
  <button class="dropdown-item" @onclick="Logout">Cerrar Seccion</button>
</AuthorizeView>

@code{
   async Task Logout()
    {
        var localStateProvider = (LocalAuthenticationStateProvider)stateProvider;
        await localStateProvider.LogoutAsync();
        navigateManage.NavigateTo("/auth/login");
    }
}