@inject IModalService Modal

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon"><i class="fa fa-cart-arrow-down  icon-gradient bg-happy-itmeo"></i></div>
            <div>
              Categorias
                <div class="page-title-subheading">Creas todas las categorias que necesites.</div>
            </div>
        </div>
        

    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-body">
        <EditForm Model="@category" OnValidSubmit="@SaveCategory">
            <DataAnnotationsValidator />
            <div class="form-row">
                <div class="col-md-12">
                    <div class="position-relative form-group">
                        <label for="exampleEmail11" class="">Nombre</label>
                        <InputText class="form-control" placeholder="Nombre productos" @bind-Value="category.Name" />
                    </div>
                </div>
               
            </div>
      


            <button class="mt-2 btn btn-primary" style="float: right;margin-left: 12px;">Guardar</button>
            <button class="mt-2 btn btn-danger" style=" float: right;">Limpiar</button>
        </EditForm>

        </div>

        </div>


        @code {
            private CategoryViewModel category = new CategoryViewModel();



            private void SaveCategory()
            {

            }

        }
